<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t(:title) %><%= yield_content :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= yield_content :meta %>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <%= css :web %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <%= erb(:analytics) %>
    <%= js  :web %>
  </head>
  <body class="<%= yield_content :body_class %>">
    <div class="header">
      <h1><a href="/"><%= I18n.t(:heading) %></a></h1>
      <h2><%= I18n.t(:description) %></h2>
    </div>

    <%= yield %>

    <div class="margin">
      <div class="content">
        <div class="footer">
          <%= yield_content :footer %>
          <p><%= I18n.t(:created_by) %></p>
        </div>
      </div>
    </div>
  </body>
</html>
