<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <title><%= I18n.t(:title) %><%= yield_content :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= yield_content :meta %>
    <%= css :web %>
    <%= erb(:typekit) %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <%= erb(:analytics) %>
    <%= js  :web %>
  </head>
  <body class="<%= yield_content :body_class %>">

    <%= yield %>

    <div class="margin">
      <div class="content">
        <div class="footer">
          <%= yield_content :footer %>
          <p><%= I18n.t(:created_by) %></p>
        </div>
      </div>
    </div>
  </body>
</html>
