<% content_for :body_class do %>page-story<% end %>

<% content_for :title do %>: <%= story.title %><% end %>

<% content_for :meta do %>
  <meta name="description" content="<%= I18n.t(:meta_bible_story) %>: <%= story.title %>; <%= I18n.t(:meta_bible_ref) %>: <%= story.bible_ref %>.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Story: <%= story.title %>">
  <meta name="twitter:description" content="<%= story.text_plain_short %>">
  <meta name="twitter:image" content="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-article.jpg">
<% end %>

<div class="story-passage-heading">
  <h2><%= story.title %> <span class="story-passage-bible-ref">(<%= story.bible_ref %>)</span></h2>
  <div class="story-passage-bar">
    <span class="story-text-smaller"><%= I18n.t(:story_text_smaller) %></span> <span class="story-text-larger"><%= I18n.t(:story_text_larger) %></span>
    <% if story.audio_info && story.audio_info.length == 1 %>
      <a href="<%= story.audio_info.first[:url] %>" class="story-text-listen"><%= I18n.t(:listen) %></a>
    <% end %>
  </div>
</div>

<div class="margin">
  <div class="content">

    <% if story.audio_info && story.audio_info.length == 1 %>
    <span class="story-text-audio-player" style="display:none">
      <% story.audio_info.each do |audio_info| %>
        <audio controls="controls" preload="none">
          <source src="<%= audio_info[:url] %>" type="audio/mpeg">
        </audio>
      <% end %>
    </span>
    <% end %>

    <div class="story-passage story-passage-<%= story.text_css %>">
      <%= story.text_html %>
    </div>

    <div class="story-navigationbottom">
      <a href="<%= story.read_more_url %>"><%= I18n.t(:read_the_surrounding_text_of) %> <span class="story-passage-bible-ref"><%= story.bible_ref %></span></a>
      <a href="/">&#171; <%= I18n.t(:find_other_great_stories_in_the_bible) %></a>
    </div>
  </div>
</div>

<% content_for :footer do %>
  <p><%= story.text_copyright %> <%= story.audio_copyright %></p>
<% end %>

