<!doctype html>
- title = current_page.data.title || yield_content(:title)
- description = current_page.data.description || yield_content(:description)
- social_description = current_page.data.social_description || yield_content(:social_description) || description
- url = yield_content(:url)
- short_url = yield_content(:short_url)
- ga_page = yield_content(:ga_page)
%html{:lang=>I18n.locale, :prefix=>"og: http://ogp.me/ns#", :data=>{ :ga_page=>ga_page, :share_url=>short_url }}
  %head
    %meta{:charset=>"UTF-8"}
    %meta{:content=>"IE=edge,chrome=1", :"http-equiv"=>"X-UA-Compatible"}

    %title= title ? "#{title} | #{t(:title)}" : "#{t(:title)}"
    
    %meta{:name=>"description", :content=>description}

    - JSON.parse(yield_content(:hreflangs)).each do |locale, url|
      %link{:rel=>"alternate", :hreflang=>locale, :href=>url}

    %meta{:property=>"og:type", :content=>"website"}
    %meta{:property=>"og:url", :content=>url}
    %meta{:property=>"og:title", :content=>(title || t(:title))}
    %meta{:property=>"og:description", :content=>social_description}
    
    %meta{:name=>"twitter:card", :content=>"summary"}
    %meta{:name=>"twitter:title", :content=>(title || t(:title))}
    %meta{:name=>"twitter:description", :content=>social_description}

    %meta{:name=>"viewport", :content=>"width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1,    maximum-scale=1"}
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
    
    %link{:rel=>"shortcut icon", :href=>"/favicon.png"}
    %link{:rel=>"icon", :type=>"image/ico", :href=>"/favicon.ico"}
    
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"//#{settings.deployment.font_host}/css?family=Open+Sans:300,600|Libre+Baskerville:400"}
    = stylesheet_link_tag "all.css"
    /[if lte IE 8]
      = stylesheet_link_tag "ie.css"
    = yield_content :head
    = javascript_include_tag("all.js", :async=>"async")
  %body.page{:class => "page #{page_classes} #{current_page.data.page_classes}"}
    .container= yield