---
title: Great Stories of the Bible
---

.header
  .item.title
    %i.logo.fa.fa-leaf
    %h1= t(:title)
  .item.description
    %h2= t(:description)
  .item.language
    = "English"

.search
  %form
    %input.query{:type=>"text", :placeholder=>t(:search_placeholder)}
    %i.fa.fa-search

.story-index
  - Stories.all.each do |_, story|
    .story
      %a{:href=>"#{story.short_url}/"}= story.title

.footer
  %div= t(:thanks)
  %div= t(:created_by)