.addthis_sharing_toolbox.addthis_default_style.addthis_32x32_style
  %a.addthis_button_facebook
    %i.icon-facebook.padded-click-square-buttons= icon(:facebook)
  %a.addthis_button_twitter
    %i.icon-twitter.padded-click-square-buttons= icon(:twitter)
  %a.addthis_button_tumblr
    %i.icon-tumblr.padded-click-square-buttons= icon(:tumblr)
  %a.addthis_button_email
    %i.icon-mail-alt.padded-click-square-buttons= icon(:mail_alt)
  %a.addthis_button_more
    %i.icon-export-alt.padded-click-square-buttons= icon(:export_alt)