- case I18n.locale
- when :"zh-Hans"
  .addthis_sharing_toolbox.addthis_default_style.addthis_32x32_style
    %a.addthis_button_qzone
    %a.addthis_button_sinaweibo
    %a.addthis_button_kaixin
    %a.addthis_button_email
      %i.icon-mail-alt= icon(:mail_alt)
    %a.addthis_button_more
      %i.icon-export-alt= icon(:export_alt)
- else
  .addthis_sharing_toolbox.addthis_default_style
    %a.addthis_button_facebook
      %i.icon-facebook= icon(:facebook)
    %a.addthis_button_twitter
      %i.icon-twitter= icon(:twitter)
    %a.addthis_button_tumblr
      %i.icon-tumblr= icon(:tumblr)
    %a.addthis_button_email
      %i.icon-mail-alt= icon(:mail_alt)
    %a.addthis_button_more
      %i.icon-export-alt= icon(:export_alt)