.side-menu-fixed
  .side-menu
    .background
    .item.title
      %i.close.toggle-side-menu.icon-menu.padded-click-square-buttons= icon(:menu)
      %i.logo.icon-leaf= icon(:leaf)
      %a{:href=>"./"}
        = t(:title_short)
    %i.share-pointer.fa.fa-caret-left
    .item.share
      = partial "share-bar"
    .item
      .search
        .search-box
          %form
            %input.query{:type=>"text", :placeholder=>t(:search_placeholder_side_menu)}
            %i.toggle-side-menu-and-search.icon-search= icon(:search)
      .stories
        - Stories.all_accounts.each do |_, story|
          .story{:class => ("current" if story.id == active_story.id), :data => story.as_json}
            - if story.id == active_story.id
              %i.marker.icon-leaf= icon(:leaf)
            %a{:href=>"./#{story.short_url(locale: I18n.locale)}"}= story.title
            .bible_ref= story.bible_ref
      .search-no-results{:style=>"display:none"}
        = t(:search_no_results)
