---
page_classes: about
---

- content_for(:description, t(:meta_description))
- content_for(:url, "#{settings.deployment.base_url(locale: I18n.locale)}/#{t(:"about.url")}")
- content_for(:short_url, "#{settings.deployment.base_url_short(locale: I18n.locale)}/#{t(:"about.url")}")
- content_for(:ga_page, "/about")

- hreflangs = {}
- settings.deployments.each do |deployment|
  - deployment.locales.each do |locale|
    - hreflangs[locale.to_s] = "#{deployment.base_url(locale: locale)}/#{t(:"about.url")}"
- content_for(:hreflangs, hreflangs.to_json)

.view
  .about
    .title
      %i.logo.icon-leaf= icon(:leaf)
      %h1= t(:"about.heading")
      %h2
        %a{:href=>deployment.base_url(locale: I18n.locale)}= deployment.zone

    .about-great-stories
      - t(:"about.about_great_stories").split("\n").each do |line|
        %p= line

    .call-to-action
      %a{:href=>deployment.base_url(locale: I18n.locale)}= t(:"about.read_a_story")

    .language
      = partial "language-selector"