---
page_classes: index
---

- content_for(:description, t(:meta_description))
- base_url = settings.deployment.base_url(locale: I18n.locale)
- content_for(:url, "#{base_url}/")
- content_for(:short_url, "#{settings.deployment.base_url_short(locale: I18n.locale)}/")
- content_for(:ga_page, "/")

- hreflangs = {}
- settings.deployments.each do |deployment|
  - deployment.locales.each do |locale|
    - hreflangs[locale.to_s] = "#{deployment.base_url(locale: locale)}/"
- content_for(:hreflangs, hreflangs.to_json)

.view
  .header
    .item.title
      %i.logo.icon-leaf= icon(:leaf)
      %h1= t(:title_short)
    .item.language.language-1
      = partial "language-selector"
    .item.description
      %h2= t(:description)
    .item.language.language-2
      = partial "language-selector"

  = partial "404" if defined?(error) && error == 404

  .search
    .search-box
      %form
        %input.query{:type=>"text", :placeholder=>t(:search_placeholder)}
        %i.icon-search= icon(:search)

  .stories
    - Stories.all.each do |_, story|
      .story{:data => story.default_account.as_json}
        %a.story-link{:href=>"#{story.default_account.short_url}"}= story.title
        - story.accounts.each do |account|
          .account
            %a.account-link{:href=>"#{account.short_url}"}= account.bible_ref

  .search-no-results{:style=>"display:none"}
    = t(:search_no_results)

  .footer
    - if I18n.locale == :en || I18n.locale == :"pt-BR"
      %div= t(:thanks)
      %div <!--sse-->#{t(:created_by)}<!--/sse-->
      %div
        %a{:href=>"#{base_url}/api/stories", :rel=>"nofollow"}= t(:api)
