---
page_classes: story side-menu-container not-showing-side-menu
---

- content_for(:title, "#{story.title}")
- content_for(:description, "Bible Story: #{story.title}; Ref: #{story.bible_ref}.")
- content_for(:social_description, story.text_plain_short)
- url = "#{settings.deployment.base_url(locale: I18n.locale)}/#{story.short_url}"
- short_url = "#{settings.deployment.base_url_short(locale: I18n.locale)}/#{story.short_url}"
- content_for(:url, url)

.side-menu-view-container
  .view
    .header
      .item.menu
        %i.icon-menu.toggle-side-menu.padded-click-square-buttons= icon(:menu)
      .item.language
        = partial "language-selector"
      .item.controls
        %span.control.zoom-smaller.padded-click-controls= t(:story_text_smaller)
        %span.control.zoom-larger.padded-click-controls= t(:story_text_larger)
        %span.separator= "|"
        %span.control.toggle-verses.verses-short.padded-click-controls= t(:story_verses_short)
        %span.control.toggle-verses.verses-long.padded-click-controls= t(:story_verses_long)
        - if story.audio_info && story.audio_info.length == 1
          %span.audio-controls
            %span.separator= "|"
            %span.control.audio-label.padded-click-controls= t(:audio_label)
            %span.control.audio.padded-click-controls
              %i.icon-volume-up= icon(:volume_up)

    .story
      .title
        %i.logo.icon-leaf= icon(:leaf)
        %h1= story.title
        %h2
          - if story.author
            = t(:story_written_by)
            %span.author= story.author + "*"
            = t(:story_in)
          %a.bible_ref{:href=>story.read_more_url}
            = story.bible_ref
      - if story.audio_info && story.audio_info.length == 1
        .audio-player{:style=>"display:none;"}
          - story.audio_info.each do |audio_info|
            %audio{:controls=>"controls", :preload=>"none"}
              %source{:data => { :src=>audio_info[:url] }, :type=>"audio/mpeg"}
      .text= story.text_html
      .call-to-action
        .item.share= partial "share-bar"
        .item.url
          %a{:href=>short_url}
            = short_url.sub(/^https?\:\/\//, '')
        .item.read-more
          %a{:href=>story.read_more_url}
            = t(:story_read_more, :bible_ref=>story.bible_ref)
        .item.more-stories
          %a{:href=>"../"}
            = t(:story_find_other)

    .footer
      - if story.author
        %div
          = "*"
          = t(:story_author_disclaimer, :title=>story.title, :author=>story.author)
      %div= story.text_copyright
      %div= story.audio_copyright
      %div= t(:created_by)

- if settings.deployment.has_feature?(:select_and_share)
  .text-highlighted-container
    .text-highlighted-shell
      .text-highlighted-bubble
        = partial "share-bar"
      .text-highlighted-arrow

= partial "side-menu", :locals => { :active_story => story }