---
page_classes: story side-menu-container
---

- content_for(:title, "Great Stories | #{story.title}")

= partial "side-menu", :locals => { :active_story => story }

.side-menu-view-container
  .view
    .header
      .item.menu
        %i.fa.fa-bars.toggle-side-menu
      .item.controls
        %span.control.zoom-smaller= t(:story_text_smaller)
        %span.control.zoom-larger= t(:story_text_larger)
        %span.separator= "|"
        %span.control.audio-label= t(:audio_label)
        %span.control.audio
          %i.fa.fa-volume-up

    .story
      .title
        %i.logo.fa.fa-leaf
        %h1= story.title
        %h2
          - if story.author
            = t(:story_written_by)
            %span.author=story.author
            = "in"
          %span.bible_ref= story.bible_ref
      - if story.audio_info && story.audio_info.length == 1
        .audio-player{:style=>"display:none;"}
          - story.audio_info.each do |audio_info|
            %audio{:controls=>"controls", :preload=>"none"}
              %source{:src=>audio_info[:url], :type=>"audio/mpeg"}
      .text= story.text_html

    .footer
      %div= story.text_copyright
      %div= story.audio_copyright
      %div= t(:created_by)